<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
        Developing solutions with web, API integration, and automation.
      </p>
      <p class="lead">
        Based in Atlanta, GA.
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL | safeURL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>
  </div>
</aside>
