<form action="https://formspree.io/f/{{ .Page.Site.Params.contactFormId}}" method="POST">
    <input type="hidden" name="form-name" value="contact">
    <p hidden="">
        <label for="hunny-pot">humans don't fill out this field</label> 
        <input id="_gotcha" name="_gotcha">
    </p>
    <p>
        <label for="name">Name</label> 
        <input type="text" id="name" name="name">
    </p>
    <p>
        <label for="email">Email (required)</label> 
        <input type="email" id="email" name="email" required="">
    </p>
    <p>
        <label for="message">Message (required)</label> 
        <textarea id="message" name="message" required=""></textarea>
    </p>
    <p>
        <button type="submit">Send</button>
    </p>
</form>